<article>
  <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
  <%= body %>
  <p class="articleInfo"> <%= article.date %> | <a href="<%= article.path %>">permalink</a></p>

  <section class="comments">
    <% if @config[:disqus] %>
      <div id="disqus_thread"></div>
      <noscript><a href="http://<%= @config[:disqus] %>.disqus.com/?url=ref">View the discussion thread.</a></noscript>
    <% end %>
  </section>
</article>

