<% 3.times do %>
<% for article in articles[0...3] %>
  <article>
    <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
    <%= article.summary %>
    <p class="info"> <%= article.date %> | <a href="<%= article.path %>">read on &raquo;</a></p>
  </article>
<% end %>
<% end %>