* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
p {
  text-indent: 25px;
  margin-bottom: 10px;
}
body {
  font: 300 20px/1.5em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}
#page-wrap {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
#header {
  width: 96%;
  margin: 20px 2%;
}
h1 {
  text-align: right;
  background: #333;
  border-left: 15px solid #29D9C2;
  color: #fff;
  text-shadow: -1px -1px 1px #666;
  padding: 9px 10px 13px 0;
  font-size: 2em;
}
h2, h3 {
  text-align: right;
  margin-bottom: 10px;
  clear: both;
  border-bottom: 5px solid #333;
  height: 30px;
  font-size: 1.5em;
}
h3 {
  padding-right: 10px;
  border-width: 3px;
  font-size: 1.17em;
}
h3:before {
  content: '»';
  margin-right: 10px;
  color: #29D9C2;
}
a, a:link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
h1 a, h1 a:link, h1 a:hover {
  border: 0;
  color: #fff;
}
h1 a:hover {
  color: #ccc;
}
h2 a, h2 a:link {
  height: 100%;
  float: right;
  color: #000;
  border-bottom: 5px solid #666;
  padding: 0 10px;
}
a:hover, h2 a:hover {
  border-color: #29D9C2;
}
#content {
  float: left;
  width: 74%;
  margin-left: 2%;
}
#sidebar {
  float: right;
  width: 20%;
  margin-right: 2%;
  font-size: 80%;
}
#sidebar li * {
  line-height: 1.2em;
}
.articleInfo {
  float: right;
  margin-bottom: 20px;
  clear: both;
}
#footer {
  float: left;
  margin-bottom: 20px;
  clear: both;
}
.archiveInfo {
  float: right;
  text-align: right;
  width: 150px;
}
.centered {
  margin: 10px auto 0 auto;
  width: 640px;
}
.centered a {
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  text-indent: 0;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 25px;
  position: relative;
}
li > *:first-child:before {
  content: '';
  background: url('/images/list-style.gif') no-repeat 0px -48px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: -25px;
  margin-right: 5px;
}
li > a:first-child:hover:before {
  background: url('/images/list-style.gif') no-repeat;
}
li a, li a:link {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: -20px;
  padding-left: 20px;
  min-height: 16px;
}
.clear, #disqus_thread  {
  clear: both;
}
#disqus_thread li > *:first-child:before {
  display: none;
}
pre {
  font: 0.7em/1.4em 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  border-left: 15px solid #777;
  margin: 10px 0;
  overflow: hidden;
}
blockquote {
  padding: 10px 10% 5px 10%;
  margin-bottom: 10px;
  font-style: italic;
  background: #f5f5f5;
  overflow: hidden;
}
blockquote p {
  text-indent: 0;
}
@media all and (max-width: 800px) {
  body {
    font-size: 18px;
    line-height: 1.4em;
  }
  #sidebar {
    float: none;
    clear: both;
    width: 98%;
    min-width: 320px;
    margin: 0px 1% 20px 1%;
    font-size: 1.2em;
    line-height: 16px;
  }
  #sidebar li {
    margin-right: 10px;
  }
  #notable {
    display: none;
  }
  #sidebar li, #sidebar li a {
    display: inline-block;
  }
  #content, #header {
    float: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    overflow: hidden;
  }
  .centered {
    width: 100%;
    max-width: 640px;
    overflow: hidden;
  }
  .centered img {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  body {
    font-size: 16px;
    line-height: 1.3em;
  }
  #sidebar li {
    font-size: 0.7em;
    margin-right: 5px;
  }
  h1 {
    font-size: 1.2em;
    border-left: 10px solid #29D9C2;
    color: #fff;
    text-shadow: -1px -1px 1px #666;
    padding: 7px 8px 11px 0;
  }
  h2, h3 {
    height: 20px;
    border-width: 3px;
  }
  h2 a, h2 a:link {
    border-width: 3px;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 1em;
  }
  
  li {
    padding-left: 0px;
  }
  li > *:first-child:before {
    content: '»';
    background: none;
    width: auto;
    height: auto;
    display: inline;
    margin: 0;
  }
  li > a:first-child:hover:before {
    content: '»';
    background: none;
    color: #29D9C2;
  }
  li a, li a:link {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
