* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
p {
  text-indent: 25px;
  margin-bottom: 10px;
}
body {
  font: 300 20px/1.5em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}
#page-wrap {
  min-width: 480px;
  max-width: 1100px;
  margin: 0 auto;
}
#header {
  width: 79%;
  margin: 20px 0 20px 2%;
}
h1 {
  text-align: right;
  background: #333;
  border-left: 15px solid #29D9C2;
  color: #fff;
  text-shadow: -1px -1px 1px #666;
  padding: 9px 10px 13px 0;
}
h2, h3 {
  text-align: right;
  margin-bottom: 10px;
  clear: both;
  border-bottom: 5px solid #333;
  height: 30px;
}
h3 {
  padding-right: 10px;
  border-width: 3px;
}
h3:before {
  content: '»';
  margin-right: 10px;
  color: #29D9C2;
}
a, a:link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
h1 a, h1 a:link, h1 a:hover {
  border: 0;
  color: #fff;
}
h1 a:hover {
  color: #ccc;
}
h2 a, h2 a:link {
  height: 30px;
  float: right;
  color: #000;
  border-bottom: 5px solid #666;
  padding: 0 10px;
}
a:hover, h2 a:hover {
  border-color: #29D9C2;
}
#content {
  float: left;
  width: 79%;
  margin-left: 2%;
}
#sidebar {
  float: right;
  width: 15%;
  margin-right: 2%;
  font-size: 80%;
}
.articleInfo {
  float: right;
  margin-bottom: 20px;
  clear: both;
}
#footer {
  float: left;
  margin-bottom: 20px;
  clear: both;
}
.archiveInfo {
  float: right;
  text-align: right;
  width: 150px;
}
.centered {
  margin: 10px auto 0 auto;
  width: 640px;
}
.centered a {
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  text-indent: 0;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 20px;
  background: url('/images/list-style.gif') no-repeat 0px -48px;
  line-height: 1em;
  position: relative;
}
li a, li a:link {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: -20px;
  padding-left: 20px;
  min-height: 16px;
}
li a:hover {
  background: url('/images/list-style.gif') no-repeat;
}
li p {
  line-height: 30px;
  top: -6px;
  position: relative;
}
#disqus_thread, .clear{
  clear: both;
}
pre {
  font: 0.7em/1.4em 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  border-left: 15px solid #777;
  margin: 10px 0;
}
blockquote {
  padding: 10px 10% 5px 10%;
  margin-bottom: 10px;
  font-style: italic;
  background: #f5f5f5;
}
blockquote p {
  text-indent: 0;
}
@media all and (max-width: 800px) {

 #sidebar {
   float: none;
   clear: both;
   width: 480px;
   margin: 0px auto 20px auto;
 }
 #nav {
   float: left;
   width: 48%;
 }
 #notable {
   float: right;
   width: 48%%;
 }
 #content, #header {
   float: none;
   margin-left: 1%;
   margin-right: 1%;
   width: 98%;
 }
}

@media all and (max-width: 640px) {
  body {
   font-size: 18px;
   line-height: 1.3em; 
  }
  #header {
    font-size: 80%;
  }
  .centered {
    width: 100%;
    overflow:hidden;
  }
  .centered img {
    width: 100%;
  }
}