* {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
}
p {
  margin-bottom: 15px;
}
article {
  margin-bottom: 90px;
}
article>p {
  margin-bottom: 25px;
}
body {
  font-family: "Alegreya", Palatino, Georgia, serif;
  font-size: 20px;
  line-height: 1.5em;
  background: #fff;
  color: #333;
}
body .typekit-badge {
  display: none !important;
}
#page-wrap {
  width: 960px;
  margin: 50px auto 0 auto;
}
h2, h3 {
  margin-bottom: 10px;
  clear: both;
  font-size: 29px;
  position: relative;
}
h2 {
  margin-bottom: 25px;
}
h3 {
  font-size: 18px;
}
article {
  padding: 0 5%;
}
article>h3 {
  font-size: 23px;
}
h3:before {
  content: '»';
  margin-right: 10px;
  color: #29D9C2;
  position: absolute;
  left: -25px;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  background: #666;
  margin: 0 0 1em 0;
}
a, a:link {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #999;
  cursor: pointer;
}
h2 a, h2 a:link {
  border: 0;
}
a:hover, h2 a:hover,  #sidebar li a:hover {
  border-color: #29D9C2;
}
#content {
  float: right;
  width: 770px;
}
#sidebar {
  float: left;
  width: 160px;
}
  #sidebar li {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
    #sidebar li a {
      border-color: transparent;
    }
.articleInfo {
  font-size: 0.8em;
  float: right;
  margin-top: -20px;
  clear: both;
}
#footer {
  float: left;
  margin-bottom: 20px;
  clear: both;
  padding: 0 5%;
}
.archiveInfo {
  float: right;
  text-align: right;
  width: 150px;
}
.centered {
  margin: 10px auto 25px auto;
  width: 640px;
}
.centered a {
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 0 0 25px;
  position: relative;
}
article>ul {
  margin: 0 0 25px 63px;
}
article>ul li {
  list-style: disc outside none;
  padding: 0;
}
.clear, #disqus_thread  {
  clear: both;
}
#disqus_thread li > *:first-child:before {
  display: none;
}
pre {
  font: 0.7em/1.4em 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  border-left: 15px solid #777;
  margin: 10px 0 25px 0;
  background: #000;
  overflow: auto;
}
blockquote {
  padding: 14px 5% 1px 5%;
  margin-bottom: 25px;
  font-style: italic;
  background: #f5f5f5;
}
em {
  font-style: italic;
}
blockquote p {
  text-indent: 0;
}
p>img {
  display: block;
  margin: 0 auto;
}
h4 {
  margin: -20px 0 25px 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
.disabled {
  color: #ccc;
}