<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name="description" content="Vincent Woo's blog, on vincentwoo.com" />
    <title><%= title %></title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-267782-2']);
      _gaq.push(['_setDomainName', '.vincentwoo.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="page-wrap">
        <div id="inside">
            <div id="header">
                <h1><a href="/">vincentwoo.com</a>: close enough</h1>
            </div>
            <div id="content">
                <%= yield %> 
            </div>
            <div id="sidebar">
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/about">about me</a></li>
                    <li><a href="/archives">archives</a></li>
                    <li><a href="/index.xml">feed</a></li>
                    <li><a href="https://github.com/vincentwoo/blog">github</a></li>
                </ul>
                <h3>notable:</h3>
                <ul>
                    <% notable = @articles.select { |article| article[:tags] and article[:tags].split.include? 'notable' } %>
                    <% for article in notable %>
                        <li><a href="<%= article.path %>"><%= article.title %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>
