<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name = "viewport" content = "user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="Vincent Woo's blog: code and conversationalism" />
    <title><%= title %></title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-267782-2']);
      _gaq.push(['_setDomainName', '.vincentwoo.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="http://use.typekit.com/mae2jjw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div id="page-wrap">
      <div id="sidebar">
        <div id="nav">
          <h1>
            <a href="/">vincentwoo.com</a>
           
            <div></div>

          </h1>
          <h3>nav</h3>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about me</a></li>
            <li><a href="https://plus.google.com/116153009890085455104?rel=author">google+</a></li>
            <li><a href="/archives">archives</a></li>
            <li><a href="/index.xml">feed</a></li>
            <li><a href="https://github.com/vincentwoo/">github</a></li>
          </ul>
        </div>
        <div id="notable">
          <h3>notable</h3>
          <ul>
            <% notable = @articles.select { |article| article[:tags] and article[:tags].split.include? 'notable' } %>
            <% for article in notable %>
              <li><a href="<%= article.path %>"><%= article.title %></a></li>
            <% end %>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div id="content">
        <%= yield %> 
      </div>
    </div>
  </body>
</html>
