//= require friendly

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

p {
  margin-bottom: 15px;
}

body {
  font-family: "Alegreya", Palatino, Georgia, serif;
  font-size: 20px;
  background: #fff;
  color: #333;
}

#page-wrap {
  width: 960px;
  margin: 50px auto 0 auto;
}

h1, h2, h3 {
  clear: both;
  position: relative;
}

h1 {
  font-size: 31px;
  margin-bottom: 20px;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;

  &:before {
    content: '»';
    margin-right: 10px;
    color: #29D9C2;
    position: absolute;
    left: -25px;
  }
}

article {
  margin: 0 7% 50px 7%;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEE;

  > {
    p {
      margin-bottom: 25px;
    }
    h3 {
      font-size: 23px;
    }
    h5 {
      margin-top: -27px;
      margin-bottom: 13px;
      color: #aaa;
      font-weight: normal;
      font-size: 20px;
    }
    ul {
      margin: 0 0 25px 30px;
      li {
        list-style: disc outside none;
        padding: 0;
      }
    }
  }
}

hr {
  display: block;
  height: 2px;
  border: 0;
  background: #666;
  margin: 0 0 1em 0;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  &:link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  &:hover {
    color: #29D9C2;
  }
}

p > a {
  text-decoration: underline;
  &:link {
    text-decoration: underline;
  }
}

#content {
  float: left;
  width: 760px;
  overflow: hidden;
}

#sidebar {
  float: left;
  width: 174px;
  margin-left: 26px;

  li {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin-top: 25px;
  }
  p {
    font-size: 16px;
    line-height: 16px;
    color: #aaa;
    > a {
      color: #aaa;
      text-decoration: none;
      &:hover {
        color: #aaa;
        text-decoration: underline;
      }
    }
  }
}

#footer {
  float: left;
  margin-bottom: 20px;
  clear: both;
  padding: 0 5%;
}

.archiveInfo {
  float: right;
  text-align: right;
  width: 110px;
}

.continue {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 0 0 25px;
  position: relative;
}

.clear {
  clear: both;
}

.comments {
  margin-top: 40px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

pre, code {
  font: 14px / 19px "Anonymous Pro", "Bitstream Vera Sans", "Monaco", Courier, mono;
  margin: 10px 0 25px 0;
  padding: 10px 0;
  overflow: auto;
}

td code {

}

blockquote {
  padding: 14px 5% 1px 5%;
  margin-bottom: 25px;
  font-style: italic;
  background: #f5f5f5;
}

em {
  font-style: italic;
}

blockquote p {
  text-indent: 0;
}

p > img {
  display: block;
  margin: 0 auto;
}

h4 {
  margin: -20px 0 25px 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.disabled {
  color: #ccc;
}

@media screen and (max-width: 720px) {
  #page-wrap, #content {
    width: 100%;
  }
  #page-wrap {
    margin-top: 20px;
  }
  article {
    margin: 0 4% 25px 4%;
  }
  #nav {
    display: none;
  }
  #sidebar {
    width: auto;
    float: none;
    margin: 0 4% 20px 4%;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  body {
    font-size: 18px;
  }
}
