<!doctype html>
<html>
  <head>
    {% css_asset_tag application %}
    - /_css/main.scss
    - /_css/friendly.scss
    {% endcss_asset_tag %}
    <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/atom+xml" title="{{ page.title }} - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="a blog by Vincent Woo, t-shirt hawker at everlane.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-267782-2']);
      _gaq.push(['_setDomainName', '.vincentwoo.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="page-wrap">
      <div id="sidebar">
        <h2><a href="/">close enough</a></h2>
        <p>is written by Vincent Woo, a t-shirt hawker at <a href="https://www.everlane.com">everlane.com</a></p>
        <div id="nav">
          <h3>navigation</h3>
          <ul>
            <li><a href="/archives">archives</a></li>
            <li><a href="/index.xml">feed</a></li>
            <li><a href="/static/resume.pdf">resume</a></li>
            <li><a href="mailto:me@vincentwoo.com">email</a></li>
            <li><a href="https://github.com/vincentwoo/">github</a></li>
            <li><a href="https://twitter.com/fulligin">twitter</a></li>
          </ul>
          <h3>notable posts</h3>
          <ul>
            {% for post in site.posts %}
              {% if post.notable %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <h3>side projects</h3>
          <ul>
            <li><a href="http://multiplayerset.com">Multiplayer Set</a></li>
            <li><a href="http://krugmantimes.com">The Krugman Times</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
